# Java compiled files
*.class

# Packaged files
*.jar
*.war
*.ear

# JVM crash logs
hs_err_pid*
replay_pid*

# IDE / editor folders
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Temporary / backup files
*~
*.swp
*.swo

# Build folders
out/
build/
target/
bin/